services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: K-Safe-frontend
    working_dir: /app
    command: ["sh","-c","[ -d node_modules ] || (npm ci || npm i) && npm run dev -- --host 0.0.0.0 --port 5173"]
    ports: ["5173:5173"]
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./frontend:/app:cached
      - node_modules:/app/node_modules
    depends_on: [api]

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: K-Safe-backend
    working_dir: /app
    command: ["air", "-c", ".air.toml"]
    ports: ["8080:8080"]
    environment:
      - GO_ENV=development
    volumes:
      - ./backend:/app:cached
      - gocache:/go/pkg/mod

volumes:
  node_modules:
  gocache:
