services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: dev
    container_name: PotasLab-frontend
    working_dir: /app
    command: [ "sh", "-c", "[ -d node_modules ] || npm ci && npm run dev -- --host 0.0.0.0 --port 5173" ]
    ports: [ "5173:5173" ]
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./frontend:/app:cached
      - node_modules:/app/node_modules
    depends_on: [ api ]

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: dev
    container_name: PotasLab-backend
    working_dir: /app
    ports: [ "8080:8080" ]
    env_file:
      - .env
    volumes:
      - ./backend:/app:cached
      - gocache:/go/pkg/mod
    depends_on:
      - db

  db:
    image: postgres:15-bookworm
    container_name: PotasLab-db
    ports: [ "5432:5432" ]
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  node_modules:
  gocache:
  db_data:
